<!DOCTYPE html>
<html>
<head><title>Books</title></head>
<body>
  <link rel="stylesheet" href="../../../style/books.css">
  <div class="topnav">
    <img class="logo" src="../../../images/MetroUI_Mac_App_Store.png"></img>
    <a class="active" href="#home">My App</a>
    <div class="search-container">
      <a href="#about">Dashboard</a>
      <a href="#contact">Setting</a>
    </div>
  </div>
    
    <div style="padding-left:16px">
      <table>
        <tr>
          <td>
            <img class="thumbnail" src="../../../images/ResponsiveHTML5.jpg" />
          </td>  
          <td>
              <h2>Responsive Media in HTML5</h2>
              <p>Rapid growth in the use of <a href="#mobile">mobile</a> devices to <a href="#access">access</a> the Internet has forced designers to adapt to creating content that is easily viewable on a wide range of different devices. The key is to make images and videos responsive to the platform used, enabling them to be resized automatically when displayed on mobile devices or desktops.
                </p>
          </td>
        </tr>
      </table>
      
    </div>
</body>

</html>
